{include file='public/header'}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus=" " id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus=" " id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">用户名</th>
                <th width="90">手机</th>
                <th width="150">邮箱</th>
                <th width="130">加入时间</th>
                <th width="70">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='user'}
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td>{$user.id}</td>
                <td><u style="cursor:pointer" class="text-primary">{$user.username}</u></td>
                <td>{$user.phoneNumber}</td>
                <td>{$user.email}</td>
                <td>{$user.create_time|date='Y-m-d H:i:s'}</td>
                <td class="td-status">{:status($user.status)}</td>
                <td class="td-manage">
                    {if $user.status == 1}
                    <!--public里面的js-->
                    <a style="text-decoration:none" onClick="content_handle('确认要禁用么我么😢','{:url('user/status',['id'=>$user.id, 'status'=> -1])}','残忍禁用😈','于心不忍')" href="javascript:;" title="停用">
                        <i class="Hui-iconfont">&#xe631;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="content_handle('确认要删除我☹️','{:url('user/status',['id'=>$user.id, 'status'=>0])}','残忍删除😈','于心不忍')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe609;</i>
                    </a>
                    {else /}
                    <a title="启用" href="javascript:;" onclick="content_handle('确认要启用么我么😁','{:url('user/status',['id'=>$user.id, 'status'=>1])}','我愿意😇','我点错了')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe600;</i>
                    </a>
                    {/if}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
{include file='public/footer'}