{include file='index/header'}
{load href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css"/}
{load href="static/front/css/index-footer.css"}
<!--正文-->
<div class="middle-area">
    <!--swiper轮播-->
    <div class="swiper-area swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/front/images/banner_21ada6c.jpg" height="744" width="1434"/></div>
            <div class="swiper-slide"><img src="/static/front/images/swiper01.png"/></div>
            <div class="swiper-slide"><img src="/static/front/images/swiper02.png"/></div>
            <div class="swiper-slide"><img src="/static/front/images/swiper03.png"/></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-black"></div>
    </div>

    <a href="#"><img src="/static/front/images/right-banner_562f509.jpg" class="right-banner"/></a>
    <a href="#"><img src="/static/front/images/qr-code.png" class="qr-code"/></a>
</div>


<!--热门电影-->
<div class="re-mid-content">
    <div class="content-header">
        <h2>热门电影</h2>
        <ul class="nav-content">
            <li><a href="#">看影片</a></li>
            /
            <li><a href="#">找影院</a></li>
            /
            <li><a href="#">看票房</a></li>
            <li><a href="#">查看全部<img src="/static/front/images/all-right_5d74328.png"/></a></li>
        </ul>
    </div>
    <!--热门电影列表-->
    <ul class="move-list">
        <li>
            <!--电影图片-->
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/b3119313b07eca804971234b9d2397dda1448321.jpg">
                    <!--电影评分-->
                    <span class="move-score">7.7</span>
                </div>
                <!--电影名称-->
                <div class="move-title">
                    侏罗纪世界2
                </div>
                <!--选购座位-->
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/50da81cb39dbb6fd0189acbb0524ab18962b3758.jpg">
                    <span class="move-score">8.1</span>
                </div>
                <div class="move-title">
                    猛虫过江
                </div>
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/-Po3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/80cb39dbb6fd5266cb8abc90a718972bd5073694.jpg">
                    <span class="move-score">7.3</span>
                </div>
                <div class="move-title">
                    泄密者
                </div>
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/1ad5ad6eddc451dad0a74240bafd5266d11632c3.jpg">
                    <span class="move-score">87.5</span>
                </div>
                <div class="move-title">
                    超人总动员2
                </div>
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/a2cc7cd98d1001e937c7408cb40e7bec55e797bd.jpg">
                    <span class="move-score">7.8</span>
                </div>
                <div class="move-title">
                    龙虾刑警
                </div>
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="move-images">
                    <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/movie/pic/item/314e251f95cad1c8eb00a898733e6709c83d51d1.jpg">
                    <span class="move-score">7.9</span>
                </div>
                <div class="move-title">
                    超时空同居
                </div>
                <div class="move-choose">
                    选购座位
                </div>
            </a>
        </li>
    </ul>
</div>


<!--休闲娱乐-->
<div class="re-mid-content entertainment-height">
    <div class="content-header">
        <h2>休闲娱乐</h2>
        <ul class="nav-content">
            <li><a href="#">KTV</a></li>
            /
            <li><a href="#">足浴按摩</a></li>
            /
            <li><a href="#">轰趴馆</a></li>
            /
            <li><a href="#">运动健身</a></li>
            <li><a href="#">查看全部<img src="/static/front/images/all-right_5d74328.png"/></a></li>
        </ul>
    </div>
    <ul class="entertainment-list">
        <li>
            <a href="#">
                <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C1%2C470%2C284%3Bw%3D470%3Bq%3D89/sign=617721a3ca11728b2462d662f5ccefff/d62a6059252dd42a9843af99043b5bb5c9eab8be.jpg">
                <div class="entertainment-title">琳琳舞厅</div>
                <a href="#" class="yule-comment" target="_blank">
                    <div class="s-grey">
                        <div class="s-color" style="width: 55.56%">
                        </div>
                    </div>
                    <span class="comment">5条评论</span>
                </a>
                <div class="shop-info">
                    <span>KTV<span class="info-break">&nbsp;丨&nbsp;</span>望京</span>
                    <span class="has-sale">已售375</span>
                </div>
                <div class="sale-info">暂无</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C21%2C690%2C418%3Bw%3D230%3Bq%3D79/sign=0c5eaac2cd5c1038303194828f21bf21/a6efce1b9d16fdfa4a5f6c36bf8f8c5494ee7b33.jpg">
                <div class="entertainment-title">达人联盟</div>
                <a href="#" class="yule-comment" target="_blank">
                    <div class="s-grey">
                        <div class="s-color" style="width: 100%">
                        </div>
                    </div>
                    <span class="comment">1条评论</span>
                </a>
                <div class="shop-info">
                    <span>电玩/游戏币<span class="info-break">&nbsp;丨&nbsp;</span>大红门</span>
                    <span class="has-sale">已售366</span>
                </div>
                <div class="sale-info">暂无</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://ss3.baidu.com/7LsWdDW5_xN3otqbppnN2DJv/map/pic/item/8ad4b31c8701a18b0fa2aefb9d2f07082838fe3d.jpg">
                <div class="entertainment-title">海德温泉酒店</div>
                <a href="#" class="yule-comment" target="_blank">
                    <!--<div class="s-grey">-->
                    <!--<div class="s-color" style="width: 55.56%">-->
                    <!--</div>-->
                    <!--</div>-->
                    <span class="comment">暂无评论</span>
                </a>
                <div class="shop-info">
                    <span>酒店<span class="info-break">&nbsp;丨&nbsp;</span>青年路</span>
                    <span class="has-sale">已售1380</span>
                </div>
                <div class="sale-info">¥500.5/人</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C0%2C640%2C480%3Bw%3D640%3Bq%3D84/sign=b62628678b94a4c21e6cbd6b33c437e5/9213b07eca8065386c796d7b9bdda144ac3482c3.jpg">
                <div class="entertainment-title">嘉安卡丁车(丰台分店)</div>
                <a href="#" class="yule-comment" target="_blank">
                    <div class="s-grey">
                        <div class="s-color" style="width: 91.532%">
                        </div>
                    </div>
                    <span class="comment">7条评论</span>
                </a>
                <div class="shop-info">
                    <span><span class="info-break">&nbsp;丨&nbsp;</span>八角</span>
                    <span class="has-sale">已售10</span>
                </div>
                <div class="sale-info">暂无</div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C21%2C690%2C418%3Bw%3D470%3Bq%3D80/sign=dda4806533292df5838cf65581017052/71cf3bc79f3df8dc984acadbc411728b47102800.jpg">
                <div class="entertainment-title">小神童儿童乐园(天通苑店)</div>
                <a href="#" class="yule-comment" target="_blank">
                    <div class="s-grey">
                        <div class="s-color" style="width: 100%">
                        </div>
                    </div>
                    <span class="comment">38条评论</span>
                </a>
                <div class="shop-info">
                    <span>亲子<span class="info-break">&nbsp;丨&nbsp;</span>天通苑</span>
                    <span class="has-sale">已售379</span>
                </div>
                <div class="sale-info">暂无</div>
            </a>
        </li>
    </ul>
</div>

<!--旅游-->
<div class="re-mid-content tour-height">
    <div class="content-header">
        <h2>旅游</h2>
        <ul class="nav-content">
            <li><a href="#">查看全部<img src="/static/front/images/all-right_5d74328.png"/></a></li>
        </ul>
    </div>
    <ul class="tour-list">
        <li class="tour-item">
            <a href="#">
                <img src="http://gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/ly-mudidi_51c0cde.jpg">
                <div class="tour-title">
                    <div class="word-main">目的地攻略</div>
                    <div class="word-title">Travelling guide</div>
                </div>
            </a>
        </li>
        <li class="tour-item">
            <a href="#">
                <img src="http://gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/ly-xingcheng_77e0c83.jpg">
                <div class="tour-title">
                    <div class="word-main">行程计划</div>
                    <div class="word-title">Travelling plan</div>
                </div>
            </a>
        </li>
        <li class="tour-item">
            <a href="#">
                <img src="http://gss0.bdstatic.com/8r1VfDn-KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/ly-youji_7f7dac8.jpg">
                <div class="tour-title">
                    <div class="word-main">游记</div>
                    <div class="word-title">Travelling notes</div>
                </div>
            </a>
        </li>
    </ul>


</div>


<!--结婚-->
<div class="re-mid-content marry-height">
    <div class="content-header">
        <h2>结婚</h2>
        <ul class="nav-content">
            <li><a href="#">查看全部<img src="/static/front/images/all-right_5d74328.png"/></a></li>
        </ul>
    </div>
    <ul class="marry-list">
        <li class="marry-item">
            <a href="#">
                <img src="http://gss0.bdstatic.com/8r1VfDn-KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/jh-sheying_39f083d.jpg">
                <div class="marry-title">
                    <div class="word-main">婚纱摄影</div>
                    <div class="word-title">Wedding Photo</div>
                </div>
            </a>
        </li>
        <li class="marry-item">
            <a href="#">
                <img src="http://gss0.bdstatic.com/8r1VfDn9KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/jh-hunsha_ea096c9.jpg">
                <div class="marry-title">
                    <div class="word-main">婚纱礼服</div>
                    <div class="word-title">Wedding Dress</div>
                </div>
            </a>
        </li>
        <li class="marry-item">
            <a href="#" target="_blank" class="mid-pic">
                <img src="http://gss0.bdstatic.com/8r1VfDn9KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/jh-hunqing_59ba50f.jpg">
                <div class="marry-title">
                    <div class="word-main">婚庆服务</div>
                    <div class="word-title">Wedding Service</div>
                </div>
            </a>
            <a href="#" target="_blank" class="mid-pic">
                <img src="http:////gss0.bdstatic.com/8r1VfDn-KggZnd_b8IqT0jB-xx1xbK/static/list/img/revision/jh-xiezhen_91c4453.jpg">
                <div class="marry-title">
                    <div class="word-main">个性写真</div>
                    <div class="word-title">Personal Photo</div>
                </div>
            </a>
        </li>
    </ul>
</div>

<!--猜你喜欢-->
<div class="bottom-category">
    <ul class="tab-nav">
        <li>
            <a href="#" class="">猜你喜欢</a>
        </li>
        <li>
            <a href="#" class="">最新团单</a>
        </li>
        <li>
            <a href="#" class="">热门商场</a>
        </li>
    </ul>
    <ul class="bottom-content">
        <li>和谐号海鲜烤肉火锅自助(庄河店)</li>
        <li>鼎香缘海鲜自助火锅(佳兆业店)</li>
        <li>华纳印象婚纱摄影工作室</li>
        <li>春花秋月(中央大道店)</li>
        <li>千百味自助海鲜烤肉</li>
        <li>千百味自助火锅烤肉</li>
        <li>蒙娜丽莎婚纱摄影</li>
        <li>韩盛自助烤肉(福佳店)</li>
        <li>亚斯德火浴广场(解放路店)</li>
        <li>融艺学堂diy手工学堂</li>
        <li>海帝游泳馆</li>
        <li>圣亚海洋世界</li>
        <li>优为客牛排</li>
        <li>和谐号海鲜烤肉火锅自助(华南佳和总店直营店)</li>
        <li>美年大健康体检(第五郡店)</li>
        <li>今迈纯K量贩式KTV</li>
        <li>十洲云水大酒店</li>
        <li>丽水金沙温泉水会</li>
        <li>海之乡日本料理铁板烧(星海店)</li>
        <li>木法宁木作工坊</li>
        <li>爱斯米牛排自助(福佳店)</li>
        <li>时代钢琴成人钢琴培训</li>
        <li>海味天下海鲜自助(中原街店)</li>
    </ul>
</div>
</div>

<!-固定搜索-->
<div class="search-fixed">
    <!--logo-->
    <img src="/static/front/images/re-logo_7c90a10.png" class="nuomi-logo"/>

    <!--搜索-->
    <form class="search-box" action="#" method="get">
        <input type="text" class="search-area" placeholder="搜索商家/地点"><input type="submit" class="search-btn"
                                                                            value="搜 索">
    </form>
</div>
<div style="clear: both"></div>

{load href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"/}
{include file='index/footer'}